<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.ClienteMapper">
    <resultMap id="ClienteMap" type="Cliente">
        <id column="cont_id" property="id" />
        <result column="cont_num_doc" property="numeroDocumento" />   
        <result column="cont_nombre_legal" property="nombreLegal"/>
        <result column="cont_nombre_comercial" property="nombreComercial"/>
        <result column="cont_direccion" property="direccion"/>
        <result column="cont_urbanizacion" property="urbanizacion"/>
        <association property="tipoDocumentoIdentidad" javaType="TipoDocumentoIdentidad" resultMap="com.sunqubit.faqture.core.mappers.TipoDocumentoIdentidadMapper.TipoDocumentoIdentidadMap"/>
        <association property="ubigeo" javaType="Ubigeo" resultMap="com.sunqubit.faqture.core.mappers.UbigeoMapper.UbigeoMap"/>
        <association property="pais" javaType="Pais" resultMap="com.sunqubit.faqture.core.mappers.PaisMapper.PaisMap"/>
        <collection property="sucursales" javaType="Sucursal" resultMap="com.sunqubit.faqture.core.mappers.SucursalMapper.SucursalMap" />
    </resultMap>

	<insert id="insert" parameterType="Cliente">
		INSERT INTO sunqubit.contribuyentes (cont_nombre_legal
			<if test="numeroDocumento != null">, cont_num_doc</if>
    		<if test="nombreComercial != null">, cont_nombre_comercial</if>
    		<if test="direccion != null">, cont_direccion</if>
    		<if test="urbanizacion != null">, cont_urbanizacion</if>
    		, tiid_codigo
    		<if test="ubigeo.id != null">, ubig_id</if>
    		)
    		VALUES (#{nombreLegal}
    			<if test="numeroDocumento != null">, #{numeroDocumento}</if>
    			<if test="nombreComercial != null">, #{nombreComercial}</if>
    			<if test="direccion != null">, #{direccion}</if>
    			<if test="urbanizacion != null">, #{urbanizacion}</if>
    			, #{tipoDocumentoIdentidad.codigo}
    			<if test="ubigeo.id != null">, #{ubigeo.id}</if>
    			);
	</insert>
	
    <update id="update" parameterType="Cliente">
        UPDATE sunqubit.contribuyentes 
			SET cont_nombre_legal = #{nombreLegal}
				<if test="numeroDocumento != null">cont_num_doc=#{numeroDocumento}</if>
				<if test="tipoDocumentoIdentidad.codigo != null">, tiid_codigo = #{tipoDocumentoIdentidad.codigo}</if>
				<if test="nombreComercial != null">cont_num_doc=#{nombreComercial}</if>
				<if test="urbanizacion != null">cont_num_doc=#{urbanizacion}</if>
				<if test="direccion != null">, cont_direccion = #{direccion}</if>
			WHERE cont_id = #{id};
    </update>
    
    <select id="get" parameterType="long" resultMap="ClienteMap">
    	SELECT * FROM sunqubit.contribuyentes 
    		INNER JOIN sunqubit.tipos_documentos_identidad ON sunqubit.tipos_documentos_identidad.tiid_codigo = sunqubit.contribuyentes.tiid_codigo
    		INNER JOIN sunqubit.ubigeos ON sunqubit.ubigeos.ubig_id = sunqubit.contribuyentes.ubig_id
    		INNER JOIN sunqubit.paises ON sunqubit.paises.pais_codigo = sunqubit.contribuyentes.pais_codigo
    		INNER JOIN sunqubit.sucursales ON sunqubit.sucursales.cont_id = sunqubit.contribuyentes.cont_id
    		WHERE cont_id = #{clieId};
    </select>
    
    <select id="getByDoc" parameterType="HashMap" resultMap="ClienteMap">
    	SELECT * FROM sunqubit.clientes 
    		INNER JOIN sunqubit.tipos_documentos_identidad ON sunqubit.tipos_documentos_identidad.tiid_codigo = sunqubit.contribuyentes.tiid_codigo
    		INNER JOIN sunqubit.ubigeos ON sunqubit.ubigeos.ubig_id = sunqubit.contribuyentes.ubig_id
    		INNER JOIN sunqubit.paises ON sunqubit.paises.pais_codigo = sunqubit.contribuyentes.pais_codigo
    		INNER JOIN sunqubit.sucursales ON sunqubit.sucursales.cont_id = sunqubit.contribuyentes.cont_id
    		WHERE cont_num_doc = #{numDoc} AND tiid_codigo = #{tDocIdent};
    </select>
    
    <select id="getFilter" parameterType="String" resultMap="ClienteMap">
    	SELECT * FROM sunqubit.clientes
    		INNER JOIN sunqubit.tipos_documentos_identidad ON sunqubit.tipos_documentos_identidad.tiid_codigo = sunqubit.contribuyentes.tiid_codigo 
    		INNER JOIN sunqubit.ubigeos ON sunqubit.ubigeos.ubig_id = sunqubit.contribuyentes.ubig_id
    		INNER JOIN sunqubit.paises ON sunqubit.paises.pais_codigo = sunqubit.contribuyentes.pais_codigo
    		INNER JOIN sunqubit.sucursales ON sunqubit.sucursales.cont_id = sunqubit.contribuyentes.cont_id
    		WHERE cont_nombre_legal LIKE '%' || #{filtro} || '%';
    </select>

</mapper>
