<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.DetalleDocumentoMapper">
    <resultMap id="DetalleDocumentoMap" type="DetalleDocumento">
        <id column="dedo_id" property="id" />
        <result column="dedo_orden" property="orden" />
        <result column="dedo_codigo_producto" property="codigoProducto" />
        <result column="dedo_descripcion" property="descripcion" />
        <result column="dedo_cantidad" property="cantidad" />
        <result column="dedo_precio_venta" property="precioVenta" />
        <result column="dedo_descuento" property="descuento" />
        <result column="dedo_venta_no_onerosa" property="ventaNoOnerosa" />
        <result column="dedo_igv" property="igv" />
        <result column="dedo_isc" property="isc" />
        <result column="dedo_subtotal" property="subtotal" />
        <association property="comprobantePago" javaType="ComprobantePago" resultMap="com.sunqubit.faqture.core.mappers.DocumentoMapper.ComprobantePagoMap"/>
        <association property="unidadMedida" javaType="UnidadMedida" resultMap="com.sunqubit.faqture.core.mappers.UnidadMedidaMapper.UnidadMedidaMap"/>
        <association property="tipoAfectacionIgv" javaType="TipoAfectacionIgv" resultMap="com.sunqubit.faqture.core.mappers.TipoAfectacionIgvMapper.TipoAfectacionIgvMap"/>
    	<association property="tipoIsc" javaType="TipoIsc" resultMap="com.sunqubit.faqture.core.mappers.TipoIscMapper.TipoIscMap"/>
    </resultMap>

    <insert id="insert"  parameterType="DetalleDocumento">
        INSERT INTO sunqubit.detalle_documentos (docu_id, dedo_orden
			<if test="codigoProducto != null">, dedo_codigo_producto</if>
			, dedo_descripcion
			<if test="unidadMedida.id != null">, unme_codigo</if>
			, dedo_cantidad, dedo_precio_venta
			<if test="descuento != null">, dedo_descuento</if>
			<if test="ventaNoOnerosa != null">, dedo_venta_no_onerosa</if>
			<if test="tipoAfectacionIgv.codigo != null">, tiai_codigo</if>
			<if test="tipoAfectacionIgv.codigo != null AND igv != null">, dedo_igv</if>
			<if test="tipoIsc.codigo != null">tisc_codigo</if>
			<if test="tipoIsc.codigo != null AND isc != null">, dedo_isc</if>
			, dedo_subtotal
			)
			VALUES (#{comprobantePago.id}, #{orden}
				<if test="codigoProducto != null">, #{codigoProducto}</if>
				, #{descripcion}
				<if test="unidadMedida.id != null">, #{unidadMedida.id}</if>
				, #{cantidad}, #{precioVenta}
				<if test="descuento != null">, #{descuento}</if>
				<if test="ventaNoOnerosa != null">, #{ventaNoOnerosa}</if>
				<if test="tipoAfectacionIgv.codigo != null">, #{tipoAfectacionIgv.codigo}</if>
				<if test="tipoAfectacionIgv.codigo != null AND igv != null">, #{igv}</if>
				<if test="tipoIsc.codigo != null">#{item.tipoIsc.codigo}</if>
				<if test="tipoIsc.codigo != null AND isc != null">, #{isc}</if>
				, #{subtotal}
				);
    </insert>
    
    <select id="getDetalleDoc" parameterType="long" resultMap="DetalleDocumentoMap">
    	SELECT * from sunqubit.detalle_documentos WHERE docu_id = #{docId};
    </select>

</mapper>
