<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.DocumentoMapper">
    <resultMap id="ComprobantePagoMap" type="ComprobantePago">
    	<!-- DocumentoBase -->
        <id column="docu_id" property="id" />
        <result column="docu_fecha_emision" property="fechaEmision" />
        <result column="docu_numero" property="numero" />
        <result column="docu_observacion" property="observacion" />
        <result column="docu_leyenda" property="leyenda" />
        <result column="docu_proc_fecha" property="fechaProceso" />
        <result column="docu_proc_status" property="estadoProceso"/>
        <result column="docu_enviar_sunat" property="enviarSunat" />
        <result column="docu_link_pdf" property="linkPdf" />
        <result column="docu_link_xml" property="linkXml" />
        <result column="docu_hash_sunat" property="hashSunat" />
        <result column="docu_link_cdr" property="linkCdr" />
        <result column="docu_cdr_status" property="cdrStatus" />
        <result column="docu_cdr_nota" property="cdrNota" />
        <result column="docu_cdr_observacion" property="cdrObservacion" />
        <!-- ComprobantePago -->
        <result column="docu_fecha_vencimiento" property="fechaVencimiento" />
        <result column="docu_subtotal" property="subtotal" />
        <result column="docu_grabada" property="grabada" />
        <result column="docu_inafecta" property="inafecta" />
        <result column="docu_exonerada" property="exonerada" />
        <result column="docu_gratuita" property="gratuita" />
        <result column="docu_descuento" property="descuento" />
        <result column="docu_igv" property="igv" />
        <result column="docu_isc" property="isc" />
        <result column="docu_otros_tributos" property="otrosTributos" />
        <result column="docu_otros_cargos" property="otrosCargos" />
        <result column="docu_total" property="total" />
        <result column="docu_vendedor" property="vendedor" />
        <result column="docu_clie_email" property="emailCliente" />
        <result column="docu_anulado" property="anulado"/>
        <!-- DocumentoBase -->
        <association property="tipoDocumento" javaType="TipoDocumento" resultMap="com.sunqubit.faqture.core.mappers.TipoDocumentoMapper.TipoDocumentoMap"/>
        <association property="empresa" javaType="Contribuyente" resultMap="com.sunqubit.faqture.core.mappers.ContribuyenteMapper.ContBaseMap"/>
        <association property="emprSucursal" javaType="Sucursal">
    		<id property="id" column="sucu_emisor_id"/>
    		<result property="direccion" column="sucu_emisor_direccion"/>
    		<result property="activo" column="sucu_emisor_status"/>
  		</association>
        <association property="tipoLeyenda" javaType="TipoLeyenda" resultMap="com.sunqubit.faqture.core.mappers.TipoLeyendaMapper.TipoLeyendaMap" />
        <association property="moneda" javaType="Moneda" resultMap="com.sunqubit.faqture.core.mappers.MonedaMapper.MonedaMap" />
        <!-- ComprobantePago -->
        <association property="cliente" javaType="Contribuyente">
    		<id property="id" column="cont_clie_id"/>
    		<result property="numeroDocumento" column="cont_clie_numDoc"/>
    		<result property="nombreLegal" column="cont_clie_nombreLeg"/>
    		<result property="nombreComercial" column="cont_clie_nombreCom"/>
    		<result property="direccion" column="cont_clie_direccion"/>
  		</association>
        <association property="clieSucursal" javaType="Sucursal" resultMap="com.sunqubit.faqture.core.mappers.SucursalMapper.SucursalMap" />
        <association property="tipoOperacion" javaType="TipoOperacion" resultMap="com.sunqubit.faqture.core.mappers.TipoOperacionMapper.TipoOperacionMap" />
    	<!-- DocumentoBase -->
    	<collection property="docsReferenciados" ofType="Documento">
    		<id property="id" column="docu_asociado_id"/>
    	</collection>
    	<!-- ComprobantePago -->
    	<collection property="detallesDocumento" javaType="DetalleDocumento" resultMap="com.sunqubit.faqture.core.mappers.DetalleDocumentoMapper.DetalleDocumentoMap" />
    </resultMap>
    
    <resultMap type="NotaDC" id="NotaDCMap">
    	<!-- DocumentoBase -->
        <id column="docu_id" property="id" />
        <result column="docu_fecha_emision" property="fechaEmision" />
        <result column="docu_numero" property="numero" />
        <result column="docu_observacion" property="observacion" />
        <result column="docu_leyenda" property="leyenda" />
        <result column="docu_proc_fecha" property="fechaProceso" />
        <result column="docu_proc_status" property="estadoProceso"/>
        <result column="docu_enviar_sunat" property="enviarSunat" />
        <result column="docu_link_pdf" property="linkPdf" />
        <result column="docu_link_xml" property="linkXml" />
        <result column="docu_hash_sunat" property="hashSunat" />
        <result column="docu_link_cdr" property="linkCdr" />
        <result column="docu_cdr_status" property="cdrStatus" />
        <result column="docu_cdr_nota" property="cdrNota" />
        <result column="docu_cdr_observacion" property="cdrObservacion" />
    	<!-- NotaDC -->
        <result column="docu_sustento_nota" property="sustentoNota" />
        <result column="docu_igv" property="igv" />
        <!-- DocumentoBase -->
        <association property="tipoDocumento" javaType="TipoDocumento" resultMap="com.sunqubit.faqture.core.mappers.TipoDocumentoMapper.TipoDocumentoMap"/>
        <association property="empresa" javaType="Contribuyente" resultMap="com.sunqubit.faqture.core.mappers.ContribuyenteMapper.ContBaseMap" />
        <association property="emprSucursal" javaType="Sucursal" resultMap="com.sunqubit.faqture.core.mappers.SucursalMapper.SucursalMap" />
        <association property="tipoLeyenda" javaType="TipoLeyenda" resultMap="com.sunqubit.faqture.core.mappers.TipoLeyendaMapper.TipoLeyendaMap" />
        <association property="moneda" javaType="Moneda" resultMap="com.sunqubit.faqture.core.mappers.MonedaMapper.MonedaMap" />
        <!-- NotaDC -->
    	<association property="tipoNota" javaType="TipoNota" resultMap="com.sunqubit.faqture.core.mappers.TipoNotaMapper.TipoNotaMap" />
    	<!-- DocumentoBase -->
    	<collection property="docsReferenciados" ofType="Documento">
    		<id property="id" column="docu_asociado_id"/>
    		<result property="fechaEmision" column="docu_asociado_fechaEmi"/>
    		<result property="numero" column="docu_asociado_numero"/>
    	</collection>
    </resultMap>
	
    <insert id="insertCompPago" parameterType="ComprobantePago">
    	<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT NEXTVAL('sunqubit.documentos_docu_id_seq');
    	</selectKey>
    	INSERT INTO sunqubit.documentos (docu_id, docu_fecha_emision, docu_numero, docu_anulado
    		<if test="tipoLeyenda != null and leyenda != null">, docu_leyenda</if>
    		<if test="observacion != null">, docu_observacion</if>
    		, docu_proc_fecha, docu_proc_status, tido_codigo, cont_id
    		<if test="emprSucursal != null">, sucu_emisor_id</if>
    		<if test="tipoLeyenda != null">, tley_codigo</if>
    		<if test="moneda != null">, mone_codigo</if>
			, docu_enviar_sunat, cont_clie_id
    		<if test="clieSucursal != null">, sucu_clie_id</if>
    		, tiop_codigo
    		<if test="fechaVencimiento != null">, docu_fecha_vencimiento</if>
    		, docu_subtotal, docu_grabada, docu_inafecta, docu_exonerada, docu_gratuita, docu_descuento, docu_igv, docu_isc, docu_otros_tributos, docu_otros_cargos, docu_total
    		<if test="vendedor != null">, docu_vendedor</if>
    		<if test="emailCliente != null">, docu_clie_email</if>
    		)
		VALUES (#{id}, #{fechaEmision}, #{numero}, #{anulado}
			<if test="tipoLeyenda != null and leyenda != null">, #{leyenda}</if>
			<if test="observacion != null">, #{observacion}</if>
			, #{fechaProceso}, #{estadoProceso}, #{tipoDocumento.codigo}, #{empresa.id}
			<if test="emprSucursal != null">, #{emprSucursal.id}</if>
			<if test="tipoLeyenda != null">, #{tipoLeyenda.codigo}</if>
			<if test="moneda != null">, #{moneda.codigo}</if>
			, #{enviarSunat}, #{cliente.id}
			<if test="clieSucursal != null">, #{clieSucursal.id}</if>
			, #{tipoOperacion.codigo}
			<if test="fechaVencimiento != null">, #{fechaVencimiento}</if>
			, #{subtotal}, #{grabada}, #{inafecta}, #{exonerada}, #{gratuita}, #{descuento}, #{igv}, #{isc}, #{otrosTributos}, #{otrosCargos}, #{total}
			<if test="vendedor != null">, #{vendedor}</if>
	    	<if test="emailCliente != null">, #{emailCliente}</if>
			);
				
		<if test="docsReferenciados != null">
			<foreach item="docRef" collection="docsReferenciados">
				<if test="docRef.id != null">
					INSERT INTO sunqubit.documentos_referenciados (documentos_docu_id, docu_asociado_id)
					VALUES (#{id}, #{docRef.id});
				</if>
    		</foreach>
		</if>
		
		<if test="detallesDocumento != null">
			<foreach item="item" collection="detallesDocumento">
				<if test="item.orden != null and item.descripcion != null and item.cantidad != null and item.precioVenta != null and item.subtotal != null">
					INSERT INTO sunqubit.detalle_documentos (docu_id, dedo_orden
						<if test="item.codigoProducto != null">, dedo_codigo_producto</if>
						, dedo_descripcion
						<if test="item.unidadMedida != null">, unme_codigo</if>
						, dedo_cantidad, dedo_precio_venta, dedo_descuento, dedo_venta_no_onerosa
						<if test="item.tipoAfectacionIgv.codigo != null">, tiai_codigo</if>
						, dedo_igv, dedo_isc, dedo_subtotal
						<if test="item.tipoIsc.codigo != null">tisc_codigo</if>
						)
					VALUES (#{id}, #{item.orden}
						<if test="item.codigoProducto != null">, #{item.codigoProducto}</if>
						, #{item.descripcion}
						<if test="item.unidadMedida != null">, #{item.unidadMedida.id}</if>
						, #{item.cantidad}, #{item.precioVenta}, #{item.descuento}, #{item.ventaNoOnerosa}
						<if test="item.tipoAfectacionIgv.codigo != null">, #{item.tipoAfectacionIgv.codigo}</if>
						, #{item.igv}, #{item.isc}, #{item.subtotal}
						<if test="item.tipoIsc.codigo != null">#{item.tipoIsc.codigo}</if>
						);
				</if>
    		</foreach>
		</if>
    </insert>
    
    <update id="updateCompPago" parameterType="ComprobantePago">
    	UPDATE sunqubit.documentos 
		SET docu_proc_fecha = #{fechaProceso}, docu_proc_status = #{estadoProceso}
			,docu_observacion = #{observacion}, docu_enviar_sunat = #{enviarSunat}
			<if test="linkPdf != null">, docu_link_pdf = #{linkPdf}</if>
			<if test="linkXml != null">, docu_link_xml = #{linkXml}</if>
			<if test="hashSunat != null">, docu_hash_sunat = #{hashSunat}</if>
			<if test="linkCdr != null">, docu_link_cdr = #{linkCdr}</if>
			<if test="cdrStatus != null">, docu_cdr_status = #{cdrStatus}</if>
			<if test="cdrNota != null">, docu_cdr_nota = #{cdrNota}</if>
			<if test="cdrObservacion != null">, docu_cdr_observacion = #{cdrObservacion}</if>
			, docu_anulado = #{anulado}
			<if test="fechaVencimiento != null">, docu_fecha_vencimiento = #{fechaVencimiento}</if>
			<if test="emailCliente != null">, docu_clie_email = #{emailCliente}</if>
		WHERE docu_id = #{id};
    </update>
    
    <select id="getCompPago" parameterType="long" resultMap="ComprobantePagoMap">
        SELECT d.*, td.*, e.*, es.sucu_id AS sucu_emisor_id, es.sucu_direccion AS sucu_emisor_direccion, es.sucu_status AS sucu_emisor_status,
        	tl.*, m.*, c.cont_id AS cont_clie_id, c.cont_num_doc AS cont_clie_numDoc, c.cont_nombre_legal AS cont_clie_nombreLeg,
        	c.cont_nombre_comercial AS cont_clie_nombreCom, c.cont_direccion AS cont_clie_direccion, cs.*, top.*, dr.*, dd.*
        FROM sunqubit.documentos AS d
        	INNER JOIN sunqubit.tipos_documentos AS td ON td.tido_codigo = d.tido_codigo
        	INNER JOIN sunqubit.contribuyentes AS e ON e.cont_id = d.cont_id
        	LEFT JOIN sunqubit.sucursales AS es ON es.sucu_id = d.sucu_emisor_id
        	INNER JOIN sunqubit.tipos_leyendas AS tl ON tl.tley_codigo = d.tley_codigo
        	INNER JOIN sunqubit.monedas AS m ON m.mone_codigo = d.mone_codigo
        	INNER JOIN sunqubit.contribuyentes AS c ON c.cont_id = d.cont_clie_id
        	LEFT JOIN sunqubit.sucursales AS cs ON cs.sucu_id = d.sucu_clie_id
        	INNER JOIN sunqubit.tipos_operaciones AS top ON top.tiop_codigo = d.tiop_codigo
        	LEFT JOIN sunqubit.documentos_referenciados AS dr ON dr.documentos_docu_id = d.docu_id
        	LEFT JOIN sunqubit.detalle_documentos AS dd ON dd.docu_id = d.docu_id
        WHERE d.docu_id = #{docuId} AND (d.tido_codigo = '01' OR d.tido_codigo = '03');
    </select>
    
    <select id="getByNumDocC" parameterType="HashMap" resultMap="ComprobantePagoMap">
        SELECT d.*, td.*, e.*, es.sucu_id AS sucu_emisor_id, es.sucu_direccion AS sucu_emisor_direccion, es.sucu_status AS sucu_emisor_status,
        	tl.*, m.*, c.cont_id AS cont_clie_id, c.cont_num_doc AS cont_clie_numDoc, c.cont_nombre_legal AS cont_clie_nombreLeg,
        	c.cont_nombre_comercial AS cont_clie_nombreCom, c.cont_direccion AS cont_clie_direccion, cs.*, top.*, dr.*, dd.*
        FROM sunqubit.documentos AS d
        	INNER JOIN sunqubit.tipos_documentos AS td ON td.tido_codigo = d.tido_codigo
        	INNER JOIN sunqubit.contribuyentes AS e ON e.cont_id = d.cont_id
        	LEFT JOIN sunqubit.sucursales AS es ON es.sucu_id = d.sucu_emisor_id
        	INNER JOIN sunqubit.tipos_leyendas AS tl ON tl.tley_codigo = d.tley_codigo
        	INNER JOIN sunqubit.monedas AS m ON m.mone_codigo = d.mone_codigo
        	INNER JOIN sunqubit.contribuyentes AS c ON c.cont_id = d.cont_clie_id
        	LEFT JOIN sunqubit.sucursales AS cs ON cs.sucu_id = d.sucu_clie_id
        	INNER JOIN sunqubit.tipos_operaciones AS top ON top.tiop_codigo = d.tiop_codigo
        	LEFT JOIN sunqubit.documentos_referenciados AS dr ON dr.documentos_docu_id = d.docu_id
        	LEFT JOIN sunqubit.detalle_documentos AS dd ON dd.docu_id = d.docu_id
        WHERE d.docu_numero = #{documento.numero} AND d.cont_id = #{empresa.id} AND d.tido_codigo = #{documento.tipoDocumento.codigo};
    </select>
    
    <insert id="insertNotaDC" parameterType="NotaDC">
    	<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT NEXTVAL('sunqubit.documentos_docu_id_seq');
    	</selectKey>
    	INSERT INTO sunqubit.documentos (docu_id, docu_fecha_emision, docu_numero
    		<if test="tipoLeyenda.codigo != null and leyenda != null">, docu_leyenda</if>
    		<if test="observacion != null">, docu_observacion</if>
    		, docu_proc_fecha, docu_proc_status, tido_codigo, cont_id
    		<if test="emprSucursal.id != null">, sucu_emisor_id</if>
    		<if test="tipoLeyenda.codigo != null">, tley_codigo</if>
    		<if test="moneda.codigo != null">, mone_codigo</if>
    		, docu_enviar_sunat, tino_id, docu_sustento_nota, docu_igv
    		)
		VALUES (#{id}, #{fechaEmision}, #{numero}
			<if test="tipoLeyenda.codigo != null and leyenda != null">, #{leyenda}</if>
			<if test="observacion != null">, #{observacion}</if>
			, #{fechaProceso}, #{estadoProceso}, #{tipoDocumento.codigo}, #{empresa.id}
			<if test="emprSucursal.id != null">, #{emprSucursal.id}</if>
			<if test="tipoLeyenda.codigo != null">, #{tipoLeyenda.codigo}</if>
			<if test="moneda.codigo != null">, #{moneda.codigo}</if>
			, #{enviarSunat}, #{tipoNota.id}, #{sustentoNota}, #{igv}
			);
				
		<if test="docsReferenciados != null">
			<foreach item="docRef" collection="docsReferenciados">
				<if test="docRef.id != null">
					INSERT INTO sunqubit.documentos_referenciados (documentos_docu_id, docu_asociado_id)
					VALUES (#{id}, #{docRef.id});
				</if>
    		</foreach>
		</if>
    </insert>
    
    <update id="updateNotaDC" parameterType="NotaDC">
    	UPDATE sunqubit.documentos 
		SET docu_proc_fecha = #{fechaProceso}, docu_proc_status = #{estadoProceso}
			, docu_enviar_sunat = #{enviarSunat},
			<if test="observacion != null">docu_observacion = #{observacion}</if>
			<if test="linkPdf != null">docu_link_pdf = #{linkPdf}</if>
			<if test="linkXml != null">docu_link_xml = #{linkXml}</if>
			<if test="hashSunat != null">docu_hash_sunat = #{hashSunat}</if>
			<if test="linkCdr != null">docu_link_cdr = #{linkCdr}</if>
			<if test="cdrStatus != null">docu_cdr_status = #{cdrStatus}</if>
			<if test="cdrNota != null">docu_cdr_nota = #{cdrNota}</if>
			<if test="cdrObservacion != null">docu_cdr_observacion = #{cdrObservacion}</if>
			<if test="sustentoNota != null">docu_sustento_nota = #{sustentoNota}</if>
		WHERE docu_id = #{id};
    </update>
    
    <select id="getNotaDC" parameterType="long" resultMap="NotaDCMap">
        SELECT d.*, td.*, e.*, es.*, tl.*, mo.*, dr.docu_id AS docu_asociado_id, dr.docu_numero AS docu_asociado_numero,
        	dr.docu_fecha_emision AS docu_asociado_fechaEmi, tn.*
        FROM sunqubit.documentos AS d
        	INNER JOIN sunqubit.tipos_documentos AS td ON td.tido_codigo = d.tido_codigo
        	INNER JOIN sunqubit.contribuyentes AS e ON e.cont_id = d.cont_id
        	LEFT JOIN sunqubit.sucursales AS es ON es.sucu_id = d.sucu_emisor_id
        	INNER JOIN sunqubit.tipos_leyendas AS tl ON tl.tley_codigo = d.tley_codigo
        	INNER JOIN sunqubit.monedas AS mo ON mo.mone_codigo = d.mone_codigo
        	INNER JOIN sunqubit.tipos_notas AS tn ON tn.tino_id = d.tino_id
        	LEFT JOIN sunqubit.documentos_referenciados AS dri ON dri.documentos_docu_id = d.docu_id
        	LEFT JOIN sunqubit.documentos AS dr ON dr.docu_id = dri.docu_asociado_id
        WHERE d.docu_id = #{docuId}  AND (d.tido_codigo = '07' OR d.tido_codigo = '08');
    </select>
    
    <select id="getByNumDocN" parameterType="HashMap" resultMap="NotaDCMap">
        SELECT d.*, td.*, e.*, es.*, tl.*, mo.*, dr.docu_id AS docu_asociado_id, dr.docu_numero AS docu_asociado_numero,
        	dr.docu_fecha_emision AS docu_asociado_fechaEmi, tn.*
        FROM sunqubit.documentos AS d
        	INNER JOIN sunqubit.tipos_documentos AS td ON td.tido_codigo = d.tido_codigo
        	INNER JOIN sunqubit.contribuyentes AS e ON e.cont_id = d.cont_id
        	LEFT JOIN sunqubit.sucursales AS es ON es.sucu_id = d.sucu_emisor_id
        	INNER JOIN sunqubit.tipos_leyendas AS tl ON tl.tley_codigo = d.tley_codigo
        	INNER JOIN sunqubit.monedas AS mo ON mo.mone_codigo = d.mone_codigo
        	INNER JOIN sunqubit.tipos_notas AS tn ON tn.tino_id = d.tino_id
        	LEFT JOIN sunqubit.documentos_referenciados AS dri ON dri.documentos_docu_id = d.docu_id
        	LEFT JOIN sunqubit.documentos AS dr ON dr.docu_id = dri.docu_asociado_id
        WHERE d.docu_numero = #{documento.numero} AND d.cont_id = #{empresa.id} AND d.tido_codigo = #{documento.tipoDocumento.codigo};
    </select>
</mapper>
