<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.EmpresaMapper">
    <resultMap id="EmpresaMap" type="Empresa">
        <id column="cont_id" property="id" />
        <result column="cont_num_doc" property="numeroDocumento" />
        <result column="cont_nombre_legal" property="nombreLegal"/>
        <result column="cont_nombre_comercial" property="nombreComercial"/>
        <result column="cont_direccion" property="direccion"/>
        <result column="cont_status" property="activo"/>
        <result column="cont_urbanizacion" property="urbanizacion"/>
        <association property="ubigeo" javaType="Ubigeo" resultMap="com.sunqubit.faqture.core.mappers.UbigeoMapper.UbigeoMap"/>
        <association property="pais" javaType="Pais" resultMap="com.sunqubit.faqture.core.mappers.PaisMapper.PaisMap"/>
        <association property="tipoDocumentoIdentidad" javaType="TipoDocumentoIdentidad" resultMap="com.sunqubit.faqture.core.mappers.TipoDocumentoIdentidadMapper.TipoDocumentoIdentidadMap"/>
    	<collection property="sucursales" javaType="Sucursal" resultMap="com.sunqubit.faqture.core.mappers.SucursalMapper.SucursalMap" />
    	<collection property="documentos" javaType="Documento" resultMap="com.sunqubit.faqture.core.mappers.DocumentoMapper.DocumentoMap" />
    </resultMap>

	<insert id="insert" parameterType="Empresa">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT NEXTVAL('sunqubit.contribuyentes_cont_id_seq_1_1');
    	</selectKey>
    	INSERT INTO sunqubit.contribuyentes (cont_id, cont_num_doc, cont_nombre_legal
    		<if test="nombreComercial != null">, cont_nombre_comercial</if>
    		, cont_direccion
    		<if test="activo != null">, cont_status</if>
    		<if test="urbanizacion != null">, cont_urbanizacion</if>
    		, tiid_codigo, ubig_id)
    		VALUES (#{id}, #{numeroDocumento}, #{nombreLegal}
    			<if test="nombreComercial != null">, #{nombreComercial}</if>
    			, #{direccion}
    			<if test="activo != null">, #{activo}</if>
    			<if test="urbanizacion != null">, #{urbanizacion}</if>
    			, #{tipoDocumentoIdentidad.codigo}, #{ubigeo.id});
    	
		<if test="sucursales != null">
			<foreach item="sucursal" collection="sucursales">
				<if test="sucursal.direccion != null AND sucursal.ubigeo.id !=null">
					INSERT INTO sunqubit.sucursales (cont_id, sucu_direccion, ubig_id, sucu_status)
						VALUES (#{id}, #{sucursal.direccion}, #{sucursal.ubigeo.id},
						<if test="sucursal.activo == null">true);</if>
						<if test="sucursal.activo != null">#{sucursal.activo});</if>
				</if>
    		</foreach>
		</if>
	</insert>
	
	<update id="update" parameterType="Empresa">
		UPDATE sunqubit.contribuyentes 
			SET cont_nombre_legal=#{nombreLegal}, cont_nombre_comercial = #{nombreComercial},
				cont_direccion = #{direccion}, ubig_id = #{ubigeo.id}
				<if test="activo != null">, cont_status = #{activo}</if>
			WHERE cont_id = #{id};
	</update>
	
	<update id="changeDoc" parameterType="Empresa">
		UPDATE sunqubit.contribuyentes 
			SET cont_num_doc=#{numeroDocumento}, tiid_codigo = #{tipoDocumentoIdentidad.codigo}
			WHERE cont_id = #{id};
	</update>
	
    <select id="getById" parameterType="long" resultMap="EmpresaMap">
        SELECT * FROM sunqubit.contribuyentes 
        	INNER JOIN sunqubit.tipos_documentos_identidad ON sunqubit.tipos_documentos_identidad.tiid_codigo = sunqubit.contribuyentes.tiid_codigo
        	INNER JOIN sunqubit.ubigeos ON sunqubit.ubigeos.ubig_id = sunqubit.contribuyentes.ubig_id
        	INNER JOIN sunqubit.paises ON sunqubit.paises.pais_codigo = sunqubit.contribuyentes.pais_codigo
        	WHERE empr_id = #{emprId};
    </select>
    
    <select id="getSucursales" parameterType="long" resultMap="EmpresaMap">
        SELECT * FROM sunqubit.contribuyentes 
        	INNER JOIN sunqubit.tipos_documentos_identidad ON sunqubit.tipos_documentos_identidad.tiid_codigo = sunqubit.contribuyentes.tiid_codigo
        	INNER JOIN sunqubit.ubigeos ON sunqubit.ubigeos.ubig_id = sunqubit.contribuyentes.ubig_id
        	INNER JOIN sunqubit.paises ON sunqubit.paises.pais_codigo = sunqubit.contribuyentes.pais_codigo
        	INNER JOIN sunqubit.sucursales ON sunqubit.contribuyentes.cont_id = sunqubit.sucursales.cont_id
        	WHERE empr_id = #{emprId};
    </select>
    
    <select id="getByDoc" parameterType="HashMap" resultMap="EmpresaMap">
        SELECT * FROM sunqubit.contribuyentes 
        	INNER JOIN sunqubit.tipos_documentos_identidad ON sunqubit.tipos_documentos_identidad.tiid_codigo = sunqubit.contribuyentes.tiid_codigo
        	INNER JOIN sunqubit.ubigeos ON sunqubit.ubigeos.ubig_id = sunqubit.contribuyentes.ubig_id
        	INNER JOIN sunqubit.paises ON sunqubit.paises.pais_codigo = sunqubit.contribuyentes.pais_codigo
        	INNER JOIN sunqubit.sucursales ON sunqubit.contribuyentes.cont_id = sunqubit.sucursales.cont_id
        	WHERE cont_num_doc = #{numDoc} AND tiid_codigo = #{tDocIdent};
    </select>
    
    <select id="filterName" parameterType="string" resultMap="EmpresaMap">
        SELECT * FROM sunqubit.contribuyentes 
        	INNER JOIN sunqubit.tipos_documentos_identidad ON sunqubit.tipos_documentos_identidad.tiid_codigo = sunqubit.contribuyentes.tiid_codigo
        	INNER JOIN sunqubit.ubigeos ON sunqubit.ubigeos.ubig_id = sunqubit.contribuyentes.ubig_id
        	INNER JOIN sunqubit.paises ON sunqubit.paises.pais_codigo = sunqubit.contribuyentes.pais_codigo
        	INNER JOIN sunqubit.sucursales ON sunqubit.contribuyentes.cont_id = sunqubit.sucursales.cont_id
        	WHERE cont_nombre_comercial like '%' || #{nombre} || '%' OR cont_nombre_legal like '%' || #{nombre} || '%';
    </select>
</mapper>
