<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.SucursalMapper">
    <resultMap id="SucursalMap" type="Sucursal">
        <id column="sucu_id" property="sucuId" />
        <result column="sucu_direccion" property="sucuDireccion" />
        <association property="empresa" javaType="Empresa" resultMap="EmpresaMap"/>
        <association property="ubigeo" javaType="Ubigeo" resultMap="UbigeoMap"/>
    </resultMap>
    
    <resultMap id="EmpresaMap" type="Empresa">
        <id column="empr_id" property="emprId" />
        <result column="empr_ruc" property="emprRuc" />
        <result column="empr_razon_social" property="emprRazonSocial"/>
        <result column="empr_nombre_comercial" property="emprNombreComercial"/>
        <result column="empr_direccion" property="emprDireccion"/>
    </resultMap>
    
    <resultMap id="UbigeoMap" type="Ubigeo">
        <id column="ubig_id" property="ubigId" />
        <result column="ubig_cod_dpto" property="ubigCodDpto" />
        <result column="ubig_cod_prov" property="ubigCodProv" />
        <result column="ubig_cod_dist" property="ubigCodDist" />
        <result column="ubig_descripcion" property="ubigDescripcion" />
    </resultMap>

    <insert id="insert" parameterType="sucursal">
		INSERT INTO sunqubit.sucursales (empr_id, sucu_direccion, ubig_id)
			VALUES (#{empresa.emprId}, #{sucuDireccion}, #{ubigeo.ubigId});
	</insert>
    
    <select id="getList" resultMap="SucursalMap">
        SELECT * FROM sunqubit.sucursales 
        	WHERE empr_id = #{empresa.emprId};
    </select>

</mapper>
