<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.TipoLeyendaMapper">
    <resultMap id="TipoLeyendaMap" type="TipoLeyenda">
        <id column="tley_id" property="codigo" />
        <result column="tley_descripcion" property="descripcion" />
    </resultMap>

    <select id="getAll" resultMap="TipoLeyendaMap">
        SELECT * FROM sunqubit.tipos_leyendas;
    </select>
</mapper>
