<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.TipoNotaMapper">
    <resultMap id="TipoNotaMap" type="TipoNota">
        <id column="tino_id" property="id" />
        <result column="tino_codigo" property="codigo" />
        <result column="tino_descripcion" property="descripcion" />
    </resultMap>

    <select id="getAll" resultMap="TipoNotaMap">
        SELECT * FROM sunqubit.tipos_notas;
    </select>
    
    <select id="tinoExist" parameterType="HashMap" resultType="long">
        SELECT count(*) FROM sunqubit.tipos_notas WHERE tino_id = #{tinoId} AND tido_codigo = #{tidoCodigo};
    </select>
</mapper>
