<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.TipoDocumentoIdentidadMapper">
    <resultMap id="TipoDocumentoIdentidadMap" type="TipoDocumentoIdentidad">
        <id column="tiid_codigo" property="tiidCodigo" />
        <result column="tiid_descripcion" property="tiidDescripcion" />
    </resultMap>

    <select id="getAll" resultMap="TipoDocumentoIdentidadMap">
        SELECT * FROM sunqubit.tipo_documentos_identidad;
    </select>
</mapper>
