<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.UbigeoMapper">
    <resultMap id="UbigeoMap" type="Ubigeo">
        <id column="ubig_id" property="id" />
        <result column="ubig_codigo" property="codigo" />
        <result column="ubig_departamento" property="departamento" />
        <result column="ubig_provincia" property="provincia" />
        <result column="ubig_distrito" property="distrito" />
    </resultMap>

    <select id="filter" resultMap="UbigeoMap">
        SELECT ubig_id, ubig_cod_dpto || ubig_cod_prov || ubig_cod_dist AS ubig_codigo,
				ubig_departamento, ubig_provincia, ubig_distrito
        FROM sunqubit.ubigeos
        WHERE (ubig_cod_dpto || ubig_cod_prov || ubig_cod_dist LIKE '%' || UPPER(#{filtro}) || '%' OR
        		ubig_departamento LIKE '%' || UPPER(#{filtro}) || '%' OR ubig_provincia LIKE '%' || UPPER(#{filtro}) || '%'
        		OR ubig_distrito LIKE '%' || UPPER(#{filtro}) || '%') AND ubig_cod_dist != '00'
        LIMIT 15;
    </select>
    
    <select id="ubigeoExist" parameterType="long" resultType="long">
    	SELECT * FROM sunqubit.ubigeos WHERE ubig_id = #{ubigId};
    </select>
</mapper>
