<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.core.mappers.UsuarioMapper">
    <resultMap id="UsuarioMap" type="Usuario">
        <id column="user_id" property="id" />
        <result column="user_login_name" property="loginName" />
        <result column="user_password" property="password"/>
        <result column="user_nombre" property="nombre"/>
        <result column="user_date_upkey" property="dateUpKey"/>
        <result column="user_date_login" property="dateLogin"/>
        <result column="user_email" property="email"/>
        <result column="user_status" property="activo"/>
        <collection property="roles" ofType="RolUsuario" resultMap="com.sunqubit.faqture.core.mappers.RolUsuarioMapper.RolUsuarioMap" />
    </resultMap>

    <insert id="insert" parameterType="Usuario">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT NEXTVAL('sunqubit.usuarios_user_id_seq');
        </selectKey>
        INSERT INTO sunqubit.usuarios (user_id, user_login_name, user_password, user_nombre, user_date_upkey, user_email, user_status)
        VALUES (#{id}, #{loginName}, #{password}, #{nombre}, (SELECT now()), #{email}, #{activo});
        <if test="roles != null">
            <foreach item="role" collection="roles">
                <if test="role.id != null">
                    INSERT INTO sunqubit.asignaciones_roles (user_id, role_id)
                    VALUES (#{id}, #{role.id});
                </if>
            </foreach>
        </if>
        <if test="roles == null">				
            INSERT INTO sunqubit.asignaciones_roles (user_id, role_id)
            VALUES (#{id}, 1);
        </if>
    </insert>
	
    <update id="update" parameterType="Usuario">
        UPDATE sunqubit.usuarios 
        SET user_nombre = #{nombre}, user_status = #{activo}
        WHERE user_id = #{id};
			
        DELETE FROM sunqubit.asignaciones_roles
        WHERE user_id = #{id};
        <if test="roles != null">
            INSERT INTO sunqubit.asignaciones_roles (user_id, role_id)
            VALUES
                <foreach item="role" collection="roles" separator=",">
                    (#{id}, #{role.id})
                </foreach>
        </if>
        <if test="roles == null">				
            INSERT INTO sunqubit.asignaciones_roles (user_id, role_id)
            VALUES (#{id}, 1);
        </if>
    </update>
	
    <update id="changeLoginName" parameterType="Usuario">
        UPDATE sunqubit.usuarios 
        SET user_login_name = #{loginName}, user_date_upkey = (SELECT now())
        WHERE user_id = #{id};
    </update>
	
    <update id="changePassword" parameterType="Usuario">
        UPDATE sunqubit.usuarios 
        SET user_password = #{password}, user_date_upkey = (SELECT now())
        WHERE user_login_name = #{loginName};
    </update>
	
    <update id="changeEmail" parameterType="Usuario">
        UPDATE sunqubit.usuarios 
        SET user_email = #{email}
        WHERE user_login_name = #{loginName};
    </update>
    
    <update id="dateLogin" parameterType="String">
        UPDATE sunqubit.usuarios 
        SET user_date_login = (SELECT now())
        WHERE user_login_name = #{loginName};
    </update>
	
    <select id="login" parameterType="String" resultMap="UsuarioMap">
        SELECT * FROM sunqubit.usuarios
            INNER JOIN sunqubit.asignaciones_roles on sunqubit.usuarios.user_id = sunqubit.asignaciones_roles.user_id
            INNER JOIN sunqubit.roles on sunqubit.asignaciones_roles.role_id = sunqubit.roles.role_id
        WHERE user_login_name = #{loginName} AND user_status = true;
    </select>
    
    <select id="loginNameExist" parameterType="String" resultType="long">
        SELECT count(*) FROM sunqubit.usuarios
        WHERE user_login_name = #{loginName};
    </select>
    
    <select id="getById" parameterType="long" resultMap="UsuarioMap">
        SELECT * FROM sunqubit.usuarios
            LEFT JOIN sunqubit.asignaciones_roles on sunqubit.usuarios.user_id = sunqubit.asignaciones_roles.user_id
            LEFT JOIN sunqubit.roles on sunqubit.asignaciones_roles.role_id = sunqubit.roles.role_id
        WHERE sunqubit.usuarios.user_id = #{id};
    </select>
</mapper>
