<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.dao.mappers.ContribuyenteMapper">
    <resultMap id="ContribuyenteMap" type="Contribuyente">
        <id column="cont_id" property="id" />
        <result column="cont_num_doc" property="numeroDocumento" />
        <result column="cont_nombre_legal" property="nombreLegal"/>
        <result column="cont_nombre_comercial" property="nombreComercial"/>
        <result column="cont_direccion" property="direccion"/>
        <result column="cont_status" property="activo"/>
        <result column="cont_urbanizacion" property="urbanizacion"/>
        <association property="ubigeo" javaType="Ubigeo" resultMap="com.sunqubit.faqture.dao.mappers.UbigeoMapper.UbigeoMap"/>
        <association property="pais" javaType="Pais" resultMap="com.sunqubit.faqture.dao.mappers.PaisMapper.PaisMap"/>
        <association property="tipoDocumentoIdentidad" javaType="TipoDocumentoIdentidad" resultMap="com.sunqubit.faqture.dao.mappers.TipoDocumentoIdentidadMapper.TipoDocumentoIdentidadMap"/>
    	<collection property="sucursales" ofType="Sucursal">
    		<id column="sucu_id" property="id" />
    		<result column="sucu_nombre_legal" property="nombreLegal" />
        	<result column="sucu_direccion" property="direccion" />
        	<result column="sucu_status" property="activo" />
        	<result column="sucu_urbanizacion" property="urbanizacion" />
        	<association property="ubigeo" javaType="Ubigeo">
        		<id column="sucu_ubig_id" property="id" />
        		<result column="sucu_ubig_codigo" property="codigo" />
        		<result column="sucu_ubig_departamento" property="departamento" />
        		<result column="sucu_ubig_provincia" property="provincia" />
        		<result column="sucu_ubig_distrito" property="distrito" />
        	</association>
        	<association property="pais" javaType="Pais">
        		<id column="sucu_pais_codigo" property="codigo" />
        		<result column="sucu_pais_nombre" property="nombre" />
        	</association>
    	</collection>
    </resultMap>
    
    <resultMap id="ContBaseMap" type="Contribuyente">
        <id column="cont_id" property="id" />
        <result column="cont_num_doc" property="numeroDocumento" />
        <result column="cont_nombre_legal" property="nombreLegal"/>
        <result column="cont_nombre_comercial" property="nombreComercial"/>
        <result column="cont_direccion" property="direccion"/>
        <result column="cont_status" property="activo"/>
        <result column="cont_urbanizacion" property="urbanizacion"/>
        <association property="ubigeo" javaType="Ubigeo" resultMap="com.sunqubit.faqture.dao.mappers.UbigeoMapper.UbigeoMap"/>
        <association property="pais" javaType="Pais" resultMap="com.sunqubit.faqture.dao.mappers.PaisMapper.PaisMap"/>
        <association property="tipoDocumentoIdentidad" javaType="TipoDocumentoIdentidad" resultMap="com.sunqubit.faqture.dao.mappers.TipoDocumentoIdentidadMapper.TipoDocumentoIdentidadMap"/>
    </resultMap>
    
    <select id="selectKey" resultType="long">
    	SELECT NEXTVAL('sunqubit.contribuyentes_cont_id_seq_1_1');
    </select>
        
    <insert id="insertE" parameterType="Contribuyente">
    	INSERT INTO sunqubit.contribuyentes (cont_id, cont_num_doc, cont_nombre_legal
    		<if test="nombreComercial != null">, cont_nombre_comercial</if>
    		, cont_direccion, cont_status
    		<if test="urbanizacion != null">, cont_urbanizacion</if>
    		, tiid_codigo, ubig_id)
    	VALUES (#{id}, #{numeroDocumento}, #{nombreLegal}
    		<if test="nombreComercial != null">, #{nombreComercial}</if>
    		, #{direccion}, #{activo}
    		<if test="urbanizacion != null">, #{urbanizacion}</if>
    		, #{tipoDocumentoIdentidad.codigo}, #{ubigeo.id});
    	
		<if test="sucursales != null">
			<foreach item="sucursal" collection="sucursales">
				<if test="sucursal.nombreLegal != null and sucursal.direccion != null and sucursal.ubigeo != null">
					INSERT INTO sunqubit.sucursales (cont_id, sucu_nombre_legal, sucu_direccion, ubig_id, sucu_status)
					VALUES (#{id}, #{sucursal.nombreLegal}, #{sucursal.direccion}, #{sucursal.ubigeo.id},#{sucursal.activo});
				</if>
    		</foreach>
		</if>
	</insert>
	
	<update id="updateE" parameterType="Contribuyente">
		UPDATE sunqubit.contribuyentes 
		SET cont_nombre_legal=#{nombreLegal}, cont_nombre_comercial = #{nombreComercial},
			cont_direccion = #{direccion}, ubig_id = #{ubigeo.id}, cont_status = #{activo}
		WHERE cont_id = #{id};
	</update>
	
	<insert id="insertC" parameterType="Contribuyente">
		INSERT INTO sunqubit.contribuyentes (cont_id, cont_nombre_legal
			<if test="numeroDocumento != null">, cont_num_doc</if>
    		<if test="nombreComercial != null">, cont_nombre_comercial</if>
    		<if test="direccion != null">, cont_direccion</if>
    		<if test="urbanizacion != null">, cont_urbanizacion</if>
    		, tiid_codigo
    		<if test="ubigeo != null">, ubig_id</if>
    		)
    	VALUES (#{id}, #{nombreLegal}
    		<if test="numeroDocumento != null">, #{numeroDocumento}</if>
    		<if test="nombreComercial != null">, #{nombreComercial}</if>
    		<if test="direccion != null">, #{direccion}</if>
    		<if test="urbanizacion != null">, #{urbanizacion}</if>
    		, #{tipoDocumentoIdentidad.codigo}
    		<if test="ubigeo != null">, #{ubigeo.id}</if>
    		);
	</insert>
	
    <update id="updateC" parameterType="Contribuyente">
        UPDATE sunqubit.contribuyentes 
		SET cont_status = #{activo}
			<if test="nombreLegal != null">, cont_nombre_legal = #{nombreLegal}</if>
			<if test="nombreComercial != null">, cont_num_doc=#{nombreComercial}</if>
			<if test="urbanizacion != null">, cont_num_doc=#{urbanizacion}</if>
			<if test="direccion != null">, cont_direccion = #{direccion}</if>
			<if test="ubigeo != null">, ubig_id = #{ubigeo.id}</if>
		WHERE cont_id = #{id};
    </update>
    
    <update id="changeDoc" parameterType="Contribuyente">
		UPDATE sunqubit.contribuyentes 
		SET cont_num_doc=#{numeroDocumento}, tiid_codigo = #{tipoDocumentoIdentidad.codigo}
		WHERE cont_id = #{id};
	</update>    
    
    <select id="getById" parameterType="long" resultMap="ContribuyenteMap">
        SELECT e.*, tdi.*, u.ubig_id, u.ubig_cod_dpto || u.ubig_cod_prov || u.ubig_cod_dist AS ubig_codigo, u.ubig_departamento, u.ubig_provincia, u.ubig_distrito,
        	p.*, s.sucu_id, s.sucu_direccion, s.sucu_urbanizacion, s.sucu_status, us.ubig_id AS sucu_ubig_id, us.ubig_cod_dpto || us.ubig_cod_prov || us.ubig_cod_dist AS sucu_ubig_codigo,
			us.ubig_departamento AS sucu_ubig_departamento, us.ubig_provincia AS sucu_ubig_provincia, us.ubig_distrito AS sucu_ubig_distrito, ps.pais_codigo AS sucu_pais_codigo, ps.pais_nombre AS sucu_pais_nombre
		FROM sunqubit.contribuyentes AS e
			INNER JOIN sunqubit.tipos_documentos_identidad AS tdi ON tdi.tiid_codigo = e.tiid_codigo
			LEFT JOIN sunqubit.ubigeos AS u ON u.ubig_id = e.ubig_id
			INNER JOIN sunqubit.paises AS p ON p.pais_codigo = e.pais_codigo
			LEFT JOIN sunqubit.sucursales AS s ON s.cont_id = e.cont_id
			LEFT JOIN sunqubit.ubigeos AS us ON us.ubig_id = s.ubig_id
			LEFT JOIN sunqubit.paises AS ps ON ps.pais_codigo = s.pais_codigo
        WHERE e.cont_id = #{contId};
    </select>
    
    <select id="getByDoc" parameterType="HashMap" resultMap="ContribuyenteMap">
        SELECT e.*, tdi.*, u.ubig_id, u.ubig_cod_dpto || u.ubig_cod_prov || u.ubig_cod_dist AS ubig_codigo, u.ubig_departamento, u.ubig_provincia, u.ubig_distrito,
        	p.*, s.sucu_id, s.sucu_direccion, s.sucu_urbanizacion, s.sucu_status, us.ubig_id AS sucu_ubig_id, us.ubig_cod_dpto || us.ubig_cod_prov || us.ubig_cod_dist AS sucu_ubig_codigo,
			us.ubig_departamento AS sucu_ubig_departamento, us.ubig_provincia AS sucu_ubig_provincia, us.ubig_distrito AS sucu_ubig_distrito, ps.pais_codigo AS sucu_pais_codigo, ps.pais_nombre AS sucu_pais_nombre
		FROM sunqubit.contribuyentes AS e
			INNER JOIN sunqubit.tipos_documentos_identidad AS tdi ON tdi.tiid_codigo = e.tiid_codigo
			LEFT JOIN sunqubit.ubigeos AS u ON u.ubig_id = e.ubig_id
			INNER JOIN sunqubit.paises AS p ON p.pais_codigo = e.pais_codigo
			LEFT JOIN sunqubit.sucursales AS s ON s.cont_id = e.cont_id
			LEFT JOIN sunqubit.ubigeos AS us ON us.ubig_id = s.ubig_id
			LEFT JOIN sunqubit.paises AS ps ON ps.pais_codigo = s.pais_codigo
        WHERE e.cont_num_doc = #{numDoc} AND e.tiid_codigo = #{tDocIdent};
    </select>
    
    <select id="filterName" parameterType="string" resultMap="ContribuyenteMap">
        SELECT e.*, tdi.*, u.ubig_id, u.ubig_cod_dpto || u.ubig_cod_prov || u.ubig_cod_dist AS ubig_codigo, u.ubig_departamento, u.ubig_provincia, u.ubig_distrito,
        	p.*, s.sucu_id, s.sucu_direccion, s.sucu_urbanizacion, s.sucu_status, us.ubig_id AS sucu_ubig_id, us.ubig_cod_dpto || us.ubig_cod_prov || us.ubig_cod_dist AS sucu_ubig_codigo,
			us.ubig_departamento AS sucu_ubig_departamento, us.ubig_provincia AS sucu_ubig_provincia, us.ubig_distrito AS sucu_ubig_distrito, ps.pais_codigo AS sucu_pais_codigo, ps.pais_nombre AS sucu_pais_nombre
		FROM sunqubit.contribuyentes AS e
			INNER JOIN sunqubit.tipos_documentos_identidad AS tdi ON tdi.tiid_codigo = e.tiid_codigo
			LEFT JOIN sunqubit.ubigeos AS u ON u.ubig_id = e.ubig_id
			INNER JOIN sunqubit.paises AS p ON p.pais_codigo = e.pais_codigo
			LEFT JOIN sunqubit.sucursales AS s ON s.cont_id = e.cont_id
			LEFT JOIN sunqubit.ubigeos AS us ON us.ubig_id = s.ubig_id
			LEFT JOIN sunqubit.paises AS ps ON ps.pais_codigo = s.pais_codigo
        WHERE e.cont_nombre_comercial like '%' || #{nombre} || '%' OR e.cont_nombre_legal like '%' || #{nombre} || '%';
    </select>
    
    <select id="getVerif" parameterType="long" resultMap="ContBaseMap">
        SELECT * FROM sunqubit.contribuyentes
        	INNER JOIN sunqubit.tipos_documentos_identidad ON sunqubit.tipos_documentos_identidad.tiid_codigo = sunqubit.contribuyentes.tiid_codigo
        WHERE cont_id = #{contId};
    </select>
    
    <select id="docIdentidadExist" parameterType="HashMap" resultType="long">
    	SELECT count(*) FROM sunqubit.contribuyentes WHERE cont_num_doc = #{numDoc} AND tiid_codigo = #{tDocIdent};
    </select>
    
    <select id="contExist" parameterType="long" resultType="long">
    	SELECT count(*) FROM sunqubit.contribuyentes WHERE cont_id = #{contId};
    </select>
</mapper>
