<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD//Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.sunqubit.faqture.dao.mappers.TipoDocumentoMapper">
    <resultMap id="TipoDocumentoMap" type="TipoDocumento">
        <id column="tido_codigo" property="codigo" />
        <result column="tido_descripcion" property="descripcion" />
        <collection property="tiposNotas" ofType="TipoNota" resultMap="com.sunqubit.faqture.dao.mappers.TipoNotaMapper.TipoNotaMap" />
    </resultMap>

    <select id="getAll" resultMap="TipoDocumentoMap">
        SELECT * FROM sunqubit.tipos_documentos
        LEFT JOIN sunqubit.tipos_notas ON sunqubit.tipos_documentos.tido_codigo = sunqubit.tipos_notas.tido_codigo;
    </select>
</mapper>
