<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/" security="none" />
	<http pattern="/zip" security="none" />

	<http entry-point-ref="jwtAuthenticationEntryPoint"
		create-session="stateless" use-expressions="true">
		<cors configuration-source-ref="corsSource"/>

		<csrf disabled="true" />
		<custom-filter before="FORM_LOGIN_FILTER"  ref="jwtAuthenticationTokenFilter" />

		<intercept-url pattern="/auth/*" access="permitAll"/>
		<intercept-url pattern="/monedas/**" access="isAuthenticated()"/>
		<intercept-url pattern="/paises/**" access="isAuthenticated()"/>
		<intercept-url pattern="/tipoafectaigv/**" access="isAuthenticated()"/>
		<intercept-url pattern="/tipodoc/**" access="isAuthenticated()"/>
		<intercept-url pattern="/tidocident/**" access="isAuthenticated()"/>
		<intercept-url pattern="/tipoisc/**" access="isAuthenticated()"/>
		<intercept-url pattern="/tiposleyendas/**" access="isAuthenticated()"/>
		<intercept-url pattern="/tiponota/**" access="isAuthenticated()"/>
		<intercept-url pattern="tipooperacion/**" access="isAuthenticated()"/>
		<intercept-url pattern="/ubigeo/**" access="isAuthenticated()"/>
		<intercept-url pattern="/unidadmedida/**" access="isAuthenticated()"/>
		<intercept-url pattern="/usuario/**" access="hasRole('ROLE_ROOT')"/>
		<intercept-url pattern="/roles/**" access="hasRole('ROLE_ROOT')"/>
		<intercept-url pattern="/cliente/add/**" access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMIN')"/>
		<intercept-url pattern="/cliente/set/**" access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMIN')"/>
		<intercept-url pattern="/cliente/get/**" access="hasAnyRole('ROLE_USER', 'ROLE_ROOT', 'ROLE_APICLIENT', 'ROLE_EMISOR')"/>
		<intercept-url pattern="/empresa/add/**" access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMIN')"/>
		<intercept-url pattern="/empresa/set/**" access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMIN')"/>
		<intercept-url pattern="/empresa/get/list/**" access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMIN')"/>
		<intercept-url pattern="/empresa/get/one/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_ROOT', 'ROLE_APICLIENT', 'ROLE_EMISOR')"/>
		<intercept-url pattern="/sucursal/add/**" access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMIN')"/>
		<intercept-url pattern="/sucursal/set/**" access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMIN')"/>
		<intercept-url pattern="/sucursal/get/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_ROOT', 'ROLE_APICLIENT', 'ROLE_EMISOR')"/>
		<intercept-url pattern="/docs/**" access="hasAnyRole('ROLE_ROOT', 'ROLE_APICLIENT', 'ROLE_EMISOR')"/>
		<intercept-url pattern="/detalledoc/**" access="hasAnyRole('ROLE_ROOT', 'ROLE_EMISOR')"/>
	</http>
	
	<global-method-security pre-post-annotations="enabled" />
	
	<beans:bean id="corsSource" class="org.springframework.web.cors.UrlBasedCorsConfigurationSource" />
	 
	<beans:bean id="jwtAuthenticationEntryPoint" class="com.sunqubit.faqture.service.security.JwtAuthenticationEntryPoint" />
                
	<beans:bean id="jwtAuthenticationTokenFilter" class="com.sunqubit.faqture.service.security.JwtAuthenticationTokenFilter" />
	
	<beans:bean id="jwtTokenSecurity" class="com.sunqubit.faqture.service.security.JwtTokenSecurity" />
	
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userSecurityService">
            <password-encoder ref="bcryptEncoder" />
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

    <beans:bean id="userSecurityService" class="com.sunqubit.faqture.service.security.UserSecurityService" />

</beans:beans>
