<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<!-- Configuración del dispatcher servlet Spring -->
    <servlet>
        <display-name>spring</display-name>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- Configuración del listener -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- Configuración del contexto Spring -->  
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/config/spring-config.xml
            /WEB-INF/spring-servlet-security.xml
        </param-value>
    </context-param>
    <!-- Configuración del Filtro de CORS -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT, DELETE</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.support.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>10</param-value>
        </init-param>
        <!-- ==================== Default Welcome File List ===================== -->
        <!-- When a request URI refers to a directory, the default servlet looks  -->
        <!-- for a "welcome file" within that directory and, if present, to the   -->
        <!-- corresponding resource URI for display.                              -->
        <!-- If no welcome files are present, the default servlet either serves a -->
        <!-- directory listing (see default servlet configuration on how to       -->
        <!-- customize) or returns a 404 status, depending on the value of the    -->
        <!-- listings setting.                                                    -->
        <!--                                                                      -->
        <!-- If you define welcome files in your own application's web.xml        -->
        <!-- deployment descriptor, that list *replaces* the list configured      -->
        <!-- here, so be sure to include any of the default values that you wish  -->
        <!-- to use within your application.                                       -->
    </filter>
   
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Configuración del filtro codificación caracteres --> 
    <filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Configuración del filtro de seguridad  -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <!-- Configuración del tiempo de vida de las sesiones -->  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
